CLASE9/pub_sub.json
[
    {
        "id": "5803401825a6b686",
        "type": "mqtt out",
        "z": "c0802927d93ab9aa",
        "name": "",
        "topic": "canaly",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bf497e775438793",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "c38f72c96a0e52fd",
        "type": "inject",
        "z": "c0802927d93ab9aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "5803401825a6b686"
            ]
        ]
    },
    {
        "id": "566e39364b81adf1",
        "type": "mqtt in",
        "z": "c0802927d93ab9aa",
        "name": "",
        "topic": "canalx",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6bf497e775438793",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "ea27f870105438d9",
                "720f93696f0a719d",
                "d057e04755526500"
            ]
        ]
    },
    {
        "id": "d057e04755526500",
        "type": "debug",
        "z": "c0802927d93ab9aa",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "ab7982351fc36bdb",
        "type": "ui_slider",
        "z": "c0802927d93ab9aa",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "4c951def314acfd5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "5803401825a6b686"
            ]
        ]
    },
    {
        "id": "7e4fbebc44f31fe7",
        "type": "ui_gauge",
        "z": "c0802927d93ab9aa",
        "name": "",
        "group": "4c951def314acfd5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "ea27f870105438d9",
        "type": "function",
        "z": "c0802927d93ab9aa",
        "name": "pot1",
        "func": "msg.payload = msg.payload.split(\",\")[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "7e4fbebc44f31fe7"
            ]
        ]
    },
    {
        "id": "720f93696f0a719d",
        "type": "function",
        "z": "c0802927d93ab9aa",
        "name": "pot2",
        "func": "msg.payload = msg.payload.split(\",\")[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "55d8d8d0a1d3efc0"
            ]
        ]
    },
    {
        "id": "55d8d8d0a1d3efc0",
        "type": "ui_gauge",
        "z": "c0802927d93ab9aa",
        "name": "",
        "group": "4c951def314acfd5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "6bf497e775438793",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4c951def314acfd5",
        "type": "ui_group",
        "name": "sensores",
        "tab": "71061e1b8e4f302e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71061e1b8e4f302e",
        "type": "ui_tab",
        "name": "MONITOREO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
